.sidebar-container {
  background-color: #ffffff23;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 20px 0 0 20px;
  padding: 20px 40px;
  font-family: "Mulish", sans-serif;
  height: 100vh;
}
.sidebar-bigtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sidebar-title {
  display: flex;
  flex-direction: column;
}
.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff36;
}
.choice-part-two {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.library {
  font-weight: bold;
  color: #ffffff;
  font-size: 28px;
}
.all-music {
  font-weight: normal;
  color: #ffffff7c;
  font-size: 16px;
}
.arrowleft-icon {
  color: #ffffff;
  width: 30px;
  height: 30px;
}
.choice-part {
  display: flex;
  flex-direction: column;
}
.tab {
  display: flex;
  max-height: 50px;
  max-width: 300px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 25px 5px;
  box-sizing: border-box;
  transition: background-color 0.3s;
  border-radius: 7px;
}
.tab:hover {
  background-color: #ffffff36;
  border-radius: 10px;
}
.tab-icon {
  width: 33px;
  height: 33px;
  color: #ffffff4a;
}
.tab span {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.playlist-all {
  display: flex;
  flex-direction: column;
}
.playlist span {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
}
.arrow-icon {
  width: 23px;
  height: 23px;
  color: #ffffff;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.submenu li {
  display: flex;
  align-items: center;
  max-height: 50px;
  max-width: 300px;
  gap: 20px;
  padding: 10px 5px;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 10px;
}
.li-icon {
  width: 33px;
  height: 33px;
  color: #ffffff7c;
}
.li-iconImg {
  display: flex;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 7px;
}
li:hover {
  background-color: #ffffff36;
  border-radius: 10px;
}
.add-playlist {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: auto;
}
.plus-icon {
  width: 17px;
  height: 17px;
  color: #ffffff;
}
.plusIcon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 7px;
  background-color: #ffffff36;
}
.add-playlist span {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
