.home-container {
  background-color: #ffffff23;
  width: auto;
  font-family: "Mulish", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 20px 0;
  overflow-y: hidden;
}
.trend-album {
  padding: 5px 0;
  margin: 0;
  height: auto;
  min-height: 40px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}
.trend-album-img {
  margin: 7px 0;
}
.recently-play span {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
}
.recently-played-group {
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: none;
}

.recently-played-group::-webkit-scrollbar {
  display: none;
}

.recently-played-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 170px;
  min-height: 170px;
  border-radius: 15px;
  background-color: #ffffff36;
}
.recently-played-square:hover {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69c3cd7);
}
.recently-played-square img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
.artist span {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.artists-group {
  display: flex;
  align-items: center;
  padding: 20px;

  overflow-y: auto;
  max-height: 400px;
  scrollbar-width: none;
}

.artist-circle img {
  height: 166px;
  width: 166px;
  border-radius: 50%;
}
.artist-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
}
.artist-circle {
  position: relative;
  z-index: 1;
  margin-left: -40px;
  transition: transform 0.3s, z-index 0.3s;
}
.artist-circle:first-child {
  padding-left: 40px;
}

.artist-circle:hover {
  z-index: 10;
  transform: scale(1.1);
}
.player-icons-pause {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icons-player {
  font-size: 30px;
  color: #ffffff;
}
.icons-player:hover {
  transform: scale(1.1);
}
.music-player-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 45px;
  padding: 0 40px;
  width: 800px;
  height: 90px;
  background-color: #bfb3b336;
}
.music-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 20px;
}
.music-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.music-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 300px;
  height: 68px;
  background-color: #ffffff36;
  border-radius: 11px;
}
.music-bar-img {
  width: 52px;
  height: 52px;
  border-radius: 7px;
}
.music-name {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.song {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}
.singer {
  font-size: 16px;
  color: #a09e9e95;
}
.musicplayer-icon {
  width: 23px;
  height: 23px;
  color: #ffffff87;
}
.musicplayer-icon:hover {
  color: #ffffff;
}
.musicplayer-icon-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  position: relative;
  z-index: 1;
  bottom: 5px;
  width: 817px;
  margin: auto;
  height: 5px;
  background-color: #ffffff85;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  transition: background-color 0.3s;
}

.progress-bar:hover {
  background-color: #ffffff26;
}

.progress-bar-fill {
  width: 50%;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69c3cd7);
  transition: width 0.4s ease;
  border-radius: 5px;
}
